/*Pagina Productos*/

.carrito{
	height: 100px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: relative;
	padding: 0px;
}
.container .card{
	position: relative;
	width: 320px;
	height: 450px;
	background: #ffffff84;
	border-radius: 20px;
	overflow: hidden;
	margin: 10px;
}
.container .card:before{
	content: "";
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	transform: rotate(180deg);
	background: rgba(252, 252, 252, 0.251);
	clip-path: circle(150px at 80% 20%);
	transition: 0.5s ease-in-out;
}
.container .card:hover:before{
	clip-path: circle(300px at 50% -10%);
}

.container .card:after{
	content: attr(data-text);
	position: absolute;
	top: 0%;
	left: 5px;
	font-size: 4em;
	font-weight: 850;
	font-style: italic;
	color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1000;
	width: 100%;
	height: 100%;
	transition: .5s;
}
.container .card:hover .imgBx{
	top: 0%;
	transform: translateY(-25%) rotate(20deg);

}
.container .card .imgBx img{
	position: absolute;
	top: 45%;
	left: 50%;
/* transform: translate(-50%, -50%) rotate(20deg); */
	transform: translate(-50%, -50%);
	width: 270px;
}
.container .card .contentBx{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: 0.35s;
	z-index: 90;
}
.container .card:hover .contentBx{
	height: 210px;
}
.container .card .contentBx h2{
	position: relative;
	font-weight: 600;
	letter-spacing: 1px;
	color: #161515;
}
.container .card .contentBx .size,
.container .card .contentBx .color{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 10px;
	transition: .35s;
	opacity: 0;
	visibility: hidden;
}
.container .card:hover .contentBx .size{
	opacity: 1;
	visibility: visible;
	transition-delay: .35s;
}
.container .card:hover .contentBx .color{
	opacity: 1;
	visibility: visible;
	transition-delay: .35s;
}
.container .card .contentBx .size h3,
.container .card .contentBx .color h3{
	color: rgb(25, 24, 24);
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
}
.container .card .contentBx .size span{
	width: 78px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	display: inline-block;
	color: #111;
	background: #fff;
	margin: 0px;
	transition: .25s;
	color: #111111;
	border-radius: 4px;

}

.container .card .contentBx a{
	display: inline-block;
	padding: 5px 10px;
	background: #fff;
	border-radius: 4px;
	margin-top: 5px;
	text-decoration: none;
	font-weight: 600;
	color: #111;
	opacity: 0;
	transform: translateY(50px);

}

.container .card:hover .contentBx a{
	opacity: 1;
	transform: translateY(0px);
	transition: .5s;

}

.container .card .contentBx a:hover{
	background-color: #048caa;
	color: #FAFAFA;
}

  
/* Estilos para el toast */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #222;
  color: #fff;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Agregamos transform a la transición */
  font-family: Arial, sans-serif;
  z-index: 1000;
}

/* Estilos para el texto del toast */
.toast p {
  margin: 0;
}

/* Estilos para la animación de entrada del toast */
.toast.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(-100%); /* Agregamos una transformación para desplazar hacia arriba */
}

/* Estilo para la tabla del carrito */
.carrito-tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
  }
  
  /* Estilo para las celdas de encabezado de la tabla */
  .carrito-tabla th {
    background-color: #eaeaea;
    color: #333333;
    text-align: center;
    font-weight: bold;
    padding: 8px;
  }
  
  /* Estilo para las celdas de datos de la tabla */
  .carrito-tabla td {
    padding: 4px;
  }
  
  /* Estilo para la primera columna de la tabla (nombre del producto) */
  #mostrarProductosCarrito tr th {
    text-align: center;
  }
  
  /* Estilo para la división de la tabla cuando hay muchos productos */
  #mostrarProductosCarrito tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  /* Estilo para el total del carrito */
  #carrito-total {
    font-weight: bold;
    padding: 8px;
  }
  
  

  /* CSS PARA EL BOTON CARRITO */
.btnVerCarrito {
    position: relative;
    padding: 10px;
    border: none;
    background-color: #5635eb;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.btnVerCarrito svg {
    margin-right: 0 10px;
}

.btnVerCarrito:hover svg {
    transform:translateX(3.05em);
    color: #5c1d73;
    transition: all .7s;
}

.btnVerCarrito:hover {
    transition: transform .7s;
}

.btnVerCarrito:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: #fafafa;
    border: 3px solid #491eb8;
    opacity: 1;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
}

.btnVerCarrito:hover::before {
    width: 100%;
}

/* BOTON ELIMINAR DEL CARRITO */

.carrito-btnEliminar{
    border: 3px solid rgb(253, 45, 45);
    border-radius: 25px;
    transition: all 0.2s;
}

.carrito-btnEliminar i{
    color: rgb(253, 45, 45);
    transition: all 0.2s;
}

.carrito-btnEliminar:hover{
    background-color: rgb(253, 45, 45);

}

.carrito-btnEliminar:hover i{
    color: #FAFAFA;

}


/* PARA SELECCIONAR MEODO DE PAGO */

fieldset {
	border: 0;
  }
  
  /* Hide default radio */
  .radio input[type="radio"] {
	position: absolute;
	visibility: hidden;
	display: none;
	opacity: 0;
	z-index: -1;
  }
  
  /* Customizing label */
  .radio label {
	position: relative;
	padding: 10px 20px 10px 25px;
	cursor: pointer;
	border-radius: 20px;
	color: #982db8;
	margin: 0px 5px;
	font-weight: 600;
	text-transform: uppercase;
  }
  
  .radio label, .radio label::before {
	-webkit-transition: .25s all ease;
	transition: .25s all ease;
  }
  
  .radio label::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	content: " ";
	position: absolute;
	top: 30%;
	left: 0;
	width: 1em;
	height: 1em;
	border: 2px solid #982db8;
  }
  
  .radio input[type="radio"] + label::before {
	border-radius: 1em;
  }
  
  
  /* Checked toggle */
  .radio input[type="radio"]:checked + label {
	color: #fff;
	background: #7e2db8;
	z-index: 1;
  }
  
  .radio input[type="radio"]:checked + label {
	padding: 10px 20px 10px 20px;
  }
  
  .radio input[type="radio"]:checked + label::before {
	top: 4px;
	width: 100%;
	height: 2em;
	z-index: -1;
  }
  
  .radio:hover input[type="radio"]:checked + label {
	-webkit-box-shadow: #2db88583 0px 0px 0px 5px;
	box-shadow: #2db88583 0px 0px 0px 5px;
  }