*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

	/*
	border: solid 1px red;
	*/

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ocultar{
	display: none;
  }

body {
	margin-top: 90px;
	padding-bottom: 25px;
	height: 100%;
	width: 100%;
}


.background {
	background-color: #ececec;
}

.centrarDiv{
	display: grid;
	place-items: center;
}

.admin_contenido {
	padding-top: 30px;
	margin: 10px;
	height: auto;
}




/*Estilos para el enbacezado*/

header {
	display: flexbox;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 75px;
	height: auto;
	padding: 0px;
	z-index: 10000;
	background: #2db885;
	color: #fff;
}

header .titulo{
	display: inline-block;
	margin: 5px;
}

header .titulo a{
	font-size: 35px;
	color: #fff;
	text-decoration: none;
}

.divIniciarSesion{
	height: 35px;
	margin-top: 8px;
	margin-right: 10px;
	float: right;
}
.IniciarSesion{
	display: flex;
}

.btns{
	padding: 5px;
	border: none;
	margin-right: 7px;
	border-radius: 7px;
	font-weight: 700;
	text-decoration: none;
	cursor: pointer;
}

.btns:hover{
	transform: scale(1.05);
	transition: all .35s;
	color: #04AA6D;
}

.logIn{
background-color: #333;
color: #FAFAFA;
}

.signUp{
background-color: #f3f5f6;
color: #333;
}

.divIniciarSesion .msgUsuario{
	display: flex;
	width: auto;
}

.divIniciarSesion .msgUsuario span{
	margin-right: 5px;
	font-weight: 800;
}


.divIniciarSesion .btnSalir{
	background-color: #333;
	color: #FAFAFA;

}


/* Estilos para el enlace activo */
.button-row > div > a.active {
	background-color: #666; /* Cambia el color de fondo del enlace activo */
}

.button-row > div > a.active::before {
	background-color: #2d2d2d; /* Cambia el color de fondo del enlace activo en ::before */
	color: #fff; /* Cambia el color de fuente del enlace activo en ::before */
}

  



/*WEBSITE MANAGER*/
.mainManager{
	display: flex;
	background-color: #05704956;
	width: 95%;
	min-width: 250px;
	height: auto;
	min-height: 500px;
	margin-top: 110px;

	border: 2px solid rgb(0, 0, 0);
}

.mainManager_contenido{
	width: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.imgsManager-container {
	width: 250px;
	height: 250px;
	overflow: hidden;
	
}
.imgsManager {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 100%;
}

.btnsManager{
	background-color: #1D242B;
	color: #FAFAFA;
	cursor: pointer;
	width: 225px;
	height: 50px;
	
	border-radius: 8px;
	font-size: 15px;
	border: none;
	font-weight: 700;
	

}

.btnsManager:hover{
	background-color: #FAFAFA;
	transition: all 0.35s;
	color: #1D242B;
	
	
}

.btnsManager a{
	color: #FAFAFA;
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;

	height: 100%;
	width: 100%;

}

.btnsManager:hover a{
	color: #1D242B;
	transition: all 0.35s;
	
	
}


.separadorManager{
	display: none;
}

@media (max-width: 821px) {
	.mainManager{
		display: block;
		margin-bottom: 2em;
  	}
  	.mainManager_contenido{
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.separadorManager{
		display: block;
		width: 85%;
		background-color: #1d242b65;
		height: 7px;
		border-radius: 8px;
	}
}

/*PAGINA ADMINISTRADOR*/
.mostrarProductos {
	margin: 50px auto;
	max-width: 1000px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
	padding: 20px;
  }
  
  
  .mostrarProductos h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 30px;
  }
  
  .mostrarProductos table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
  }
  
.mostrarProductos th {
	background-color: #6504aa;
	color: white;
	padding: 10px;
	position: sticky; /* Agregar la propiedad position: sticky */
	top: 100px; /* Especificar la distancia desde la parte superior en la que se pegará */
	z-index: 1; /* Asegurarse de que el encabezado esté en un nivel de apilamiento superior */
}
  
  .mostrarProductos tr:nth-child(even) {
	background-color: #f2f2f2;
  }
  
  .mostrarProductos td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
  }
  
  .mostrarProductos td img {
	max-width: 100%;
	max-height: 100px;
  }
  
  .mostrarProductos tbody tr:last-child td {
	border-bottom: none;
  }



/*PAGINA PRINCIPAL*/

.seccion-light{
background-color: none;
color: #575757;
height: 600px;
width: 100%;

}

.aboutUs {
	background-color: #f2f2f2;
	color: #000;
	font-family: 'San Francisco', Arial, sans-serif;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  
  .aboutUs-section {
	max-width: 600px;
	margin: 20px;
	text-align: justify;
  }
  
  .aboutUs-section h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
  }
  
  .aboutUs-section p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
  }
  
  .aboutUs-section img {
	max-width: 100%;
	max-height: 500px;
	display: block;
	margin: 0 auto;
	margin-top: 20px;
  }
  


.contact-form {
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
  }
  
  .contact-form h2 {
	font-size: 36px;
	margin-bottom: 20px;
  }
  
  .contact-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .contact-form label {
	display: block;
	font-size: 18px;
	margin: 20px 0 5px;
	text-align: left;
	width: 100%;
  }
  
  .contact-form input,
  .contact-form textarea {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
  }
  
  .contact-form textarea {
	resize: none;
  }
  
  .contact-form button[type="submit"] {
	background-color: #333;
	color: #fff;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
  }
  
  .contact-form button[type="submit"]:hover {
	background-color: #fff;
	color: #333;
	border: 2px solid #333;
  }
  

