.sectiontext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card .content {
    padding: 10px;
    height: 30%;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #b300ff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .card a:hover {
    background-color:#b300ff;
  }
  